{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Attendance System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'attendance/css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <form action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                    {% if is_admin %}
                        <li><a href="{% url 'semester_list' %}">Manage Semesters</a></li>
                        <li><a href="{% url 'course_list' %}">Manage Courses</a></li>
                        <li><a href="{% url 'class_list' %}">Manage Classes</a></li>
                        <li><a href="{% url 'lecturer_list' %}">Manage Lecturers</a></li>
                        <li><a href="{% url 'student_list' %}">Manage Students</a></li>
                    {% elif is_lecturer %}

                        <a href="{% url 'enter_attendance' class.id %}">Enter Attendance</a>

                    {% elif is_student %}
                        <li><a href="{% url 'view_attendance' %}">View Attendance</a></li>
                    {% endif %}

                    <li><a href="{% url 'admin_login' %}">Admin Login</a></li>
                    <li><a href="{% url 'lecturer_login' %}">Lecturer Login</a></li>
                    <li><a href="{% url 'student_login' %}">Student Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Attendance System. All rights reserved.</p>
    </footer>
</body>
</html>
