{% extends 'attendance/base.html' %}

{% block title %}Manage Courses{% endblock %}

{% block content %}
<h2>Courses</h2>
{% if user.is_superuser %}
    <a href="{% url 'course_create' %}">Create New Course</a>
    <ul>
        {% for course in object_list %}
            <li>{{ course.name }}
                <a href="{% url 'course_update' course.pk %}">Edit</a>
                <a href="{% url 'course_delete' course.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You are not authorized to view this page.</p>
{% endif %}
{% endblock %}
