{% extends 'attendance/base.html' %}

{% block title %}Manage Semesters{% endblock %}

{% block content %}
<h2>Semesters</h2>
{% if user.is_superuser %}
    <a href="{% url 'semester_create' %}">Create New Semester</a>
    <ul>
        {% for semester in object_list %}
            <li>{{ semester.name }}
                <a href="{% url 'semester_update' semester.pk %}">Edit</a>
                <a href="{% url 'semester_delete' semester.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You are not authorized to view this page.</p>
{% endif %}
{% endblock %}
